@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>There is nothing to do in this page; consider visiting <a href="/Products">the product page</a>.</p>
</div>
